.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a,
a:hover,
a:focus{
  text-decoration: none;
}
.see-more,
.cp-submit{
    display: inline-block;
    background-color: #304160;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 9px 28px;
    border-radius: 5px;
    transition: .3s;
    border: 0;
    cursor: pointer;
    margin-top: 20px;
}
.see-more:hover,
.see-more:focus,
.cp-submit:hover,
.cp-submit:focus{
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.career-title{
  font-size: 28px;
}
.career-section{
  padding: 40px 0;
}
.cp-form {
    margin-top: 40px;
    background: #f2f4f6;
    padding: 30px 20px;
    width: 100%;
    text-align: center;
}
.cp-form .form-group input{
  margin-left: 20px;
}
.cp-form .form-group input:first-child {
  margin-left: 0;
}
.cp-form .form-group{
  margin: 0 auto;
}
button.cp-submit {
  margin-left: 20px;
  margin-top: 0;
  height: 40px;
}
.cp-form .form-control{
  min-height: 40px;
}
.cp-form h5{
  margin-bottom: 15px;
}
.reserve-dialog{
  width: 100%;
  padding: 20px;
  background:#304160db;
  color: #fff;
}
.cp-reserved{
  margin-bottom: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
